html {
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: theme('colors.gray.900');
  background-color: theme('colors.gray.100');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

canvas {
  outline: none !important;
}
